<div class='row'>
  <div class='col'>
    <h1 class='main-title'>
      <% if @utility_accounts.empty? %>
        Connect your utility accounts
      <% else %>
        Utility accounts
      <% end %>
    </h1>
  </div>
  <div class='col text-right'>
    <%= link_to 'Back to dashboard', root_path, class: 'btn btn-tertiary' %>
  </div>
</div>

<div class="row mx-0">
  <% if @utility_accounts.empty? %>
    <div class="col-6 pl-0">
      <%= render partial: 'connect_card', locals: { resource_type: 'electricity' } %>
    </div>

    <div class="col-6">
      <%= render partial: 'connect_card', locals: { resource_type: 'natural_gas' } %>
    </div>
  <% else %>
    <div class="card w-100 mt-3 shadow border-0">
      <div class="card-body">
        <%= render partial: 'utility_accounts', locals: { utility_accounts: @utility_accounts } %>
      </div>
    </div>

    <div class="col-6 p-0">
      <%= render partial: 'connect_card', locals: { resource_type: 'neither' } %>
    </div>
  <% end %>
</div>