<!DOCTYPE html>
<html>
  <head>
    <title>EnergyMirror</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('building_icon.ico') %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'building_utility_chart', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
      <% if signed_in? %>
        <%= render partial: 'layouts/sidebar'%>
      <% end %>
      <div id='page-content-wrapper'>
        <%= yield %>
      </div>
    </div>


  </body>
</html>
